<h1>Editing Book</h1>

<div class="error_message">
<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: Book ,url: "/books/#{@book.id}", method: :patch  do |f| %>

<h4>Title</h4>
<%= f.text_field :title %>

<h4>Body</h4>
<%= f.text_area :body %>

<div class="Update-box"><%= f.submit "Update Book" %></div>
<%= link_to "Show", "/books/#{@book.id}" %>
<%= link_to "Back", "/books" %>


<% end %>